        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Purposes Overview</h1>

            <!-- Error message -->
            <div id="error-msg" class="alert alert-danger alert-dismissible fade" role="alert">
              <strong>Error</strong> Message.
            </div>
          </div>

          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
            <table id="purposes-table">
              <thead>
                <tr>
                  <th data-field="data" data-sortable="true">User</th>
                  <th data-field="purposes" data-sortable="true">Purposes</th>
                </tr>
              </thead>
            </table>
          </div>
        </main>
